@page "/random"

@using DaddyJokes.Service;

@inject DaddyJokesService JokeApiService

<PageTitle>Random Joke</PageTitle>

<h1>Random Joke</h1>


<button class="btn btn-primary" @onclick="GetJoke">New Joke</button>

<div class="m-4">
    <p role="status"> @newJoke</p>
</div>

@code {
    private string newJoke = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await GetJoke();
    }

    private async Task GetJoke()
    {
        var currentJoke = await JokeApiService.GetRandomDaddyJokes();
        newJoke = currentJoke.Joke;
    }
}
